body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: rgba(207, 51, 255, 0.795);
}

#btn-menu{
   display: none;
}

img{
    display: block;
    height: 30px;
    width: 30px;
    padding: 10px; 
    border-right: 1px solid #fff;
}

header label:hover{
    cursor: pointer;
    background: rgba(3, 3, 3, 0.877);
}

.menu ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

.menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.767);
    opacity: 1;
    width: 100%;
    height: 100%;
    margin-left: -100%;
}

#btn-menu:checked ~ .menu{
    margin: 0;
}
    
.cirularStdBold{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


nav a{
    height: 82px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    font-size: 2em;
    position: relative;
    border-bottom: 2px;
    color:#fff;
}

.font{
    display: center;
    margin: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position:fixed;
    left: 0; 
    bottom: 0;
}

